<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    
    <h2>Login Form</h2>

    <br><br>
    
    <form action="/sucess" method="post" >
        <label for="name">Name</label>
        <input type="text" name="name" >
        <br><br>
        <label for="course">Course</label>
        <input type="text" name="course">
        <br><br>
        
        <button>Submit</button>
    
    </form>

</body>
</html>