<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h3>
        This is home page of html
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus, perspiciatis hic rerum, earum expedita debitis facere eos quisquam aliquam corrupti nulla quae. Earum, quos! Blanditiis architecto exercitationem distinctio quia?
    </p>
</body>
</html>